@media (orientation: portrait) {
  .map-container {
    height: 65vh;
    width: 100%
  }

  .card-container {
    overflow-x: scroll;
    height: 35vh;
    white-space: nowrap;
  }

  .card {
    width: 40vw;
    max-width: 200px;
    white-space: normal;
    height: 34.98vh;
    display: inline-block !important;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .card img {
    height: 15vh;
  }

  .card-footer {
    height: 9.98vh;
    padding: 2vh 2vw;
  }

  .card-body {
    height: 25vh;
  }

  .no-padding {
    padding: 0px !important;
  }

  .card-text-container {
    height: 10vh;
  }

  .col-landscape-8-portrait-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  button.btn {
    width:6vh;
    max-width: 55px;
    height:6vh;
  }

}

@media (orientation: landscape) {
  .map-container {
    height: 100vh;
    width: 100%
  }

  .card-container {
    overflow-y: scroll;
    height: 100vh;

  }

  .card {
    width: 100%;
    max-width: 400px;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .col-landscape-8-portrait-12 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    min-width: calc(100% - 400px);
  }

  button.btn {
    width:6vw;
    max-height: 40px;
    max-width: 40px;
    height:6vw;
  }
}

.card {
  border: 0.01vh rgba(0, 31, 31, 0.46) solid;
}

.card-body {
  padding: 1vw;
  text-overflow: ellipsis;
}

.card-container {
  background: #80808021;
}


/* Style buttons */
button.btn {
  background-color: #0E4D64;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 1vw;
  margin-right: 1vw;
}

button:hover {
  background-color: #082631;
}

.card-text-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: x-small;
}
